<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <title>Web Practice</title>
    <style type="text/css">
        body {
            background-color: #c0c0c0;
        }
    </style>
</head>

<body>
    <% include partials/_navbar.html %>
    <div class="container">
         <%- body %>
    </div>

    

</body>

</html>